* {box-sizing: border-box}

h1 {
  font-size: 70px;
 text-align: center;
  
 }
.center {  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;

}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px ;
  
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size:  20px;
  width: 25%;
}

.tablink:hover {
  background-color: rgb(109, 101, 101);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}